#common-header
  background-color: rgb(233, 32, 61)
  color: #fff
  padding: 15px 10px
  text-align: center
  position: relative
  h1
    display: inline
    font-size: 16px
    line-height: 1
  .back-icon
    width: 16px
    height: 16px
    position: absolute
    left: 10px
.current-city
  background-color: #fff
  text-align: center
  padding: 30px 0
  border-bottom: 1px solid #f1f1f1
.city-list-container
  background-color: #fff
  padding: 10px 15px 20px 15px
  h3
    font-size: 16px

  ul
    display: block
    width: 100%
  li
    list-style: none
    display: block
    float: left
    width: 33.3%
    text-align: center
    span
      display: inline-block
      border: 1px solid #ccc
      font-size: 16px
      line-height: 2
      margin-top: 15px
      width: 90%
