#detail-info-container
  background-color: #fff
  .info-container
    border-bottom: 1px solid #f1f1f1
    padding-bottom: 10px
    margin-bottom: 10px
  .info-img-container
    width: 130px
    img
      width: 100%
  .info-content
    margin-left: 140px
    h1
      font-size: 20px
      color: #333
    .star-container
      margin: 5px 0
      .price
        margin-left: 20px
        color: #999
    .sub-title
      color: #999
  .info-desc
    color: #999
    line-height: 1.5
.buy-store-container
  border-top: 1px solid #f1f1f1
  background-color: #fff
  padding: 10px 0
  .item-container
    width: 50%
    text-align: center
    button
      font-size: 16px
      width: 100px
      background-color: #f1f1f1
      color: #666
      border: 1px solid #666
      padding: 5px 0
    button.selected
      color: rgb(233, 32, 61)
      border: 1px solid rgb(233, 32, 61)
